body {
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #674736;
}

.wrapper {
    display: flex;
    gap: 1.5em;
    justify-content: end;
    padding: 1.4em 0;
}

.bFlex {
    display: flex;
    align-items:  center;
    gap: .2em;
}

p.brownNav {
    margin: 0;
    color: white;
    font-size: 14px;
}

ul {list-style-type: none;margin:0;padding:0;}

.navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
}

.logo {
    display: flex;
    align-items: center;
    gap: .7em;
}

.logoText {
    font-size: 28px;
    margin: 0;
}

.itemList {
    display: flex;
    align-items: center;
    gap: 1em;
}

.itemList a {
    padding: .5em 0 .5em .5em;
    text-decoration: none;
    color: #3D4647;
    font-size: 16px;
}

.itemList a:hover{
    color: #000000;
}

.itemList li.categories > a {
    display: flex;
    align-items: center;
    gap: .3em;
  }

  .rotate-icon {
    transition: transform 0.5s;
  }
  
  .rotate {
    transform: rotate(180deg);
  }

  
  
  /* footer */

.footerWrapper {
    margin-top: 10em;
    background-color: #674736;
}

.footerContainer {
    display: flex;
    flex-direction: column;
}

.footer-header {
    display: flex;
    flex-direction: column;
}

.footerLocation {
    display: flex;
    align-items: center;
    gap: .3em;
    padding-top: .8em;
}

.footer-menu {
    display: flex;
    padding-top: 2em;
    gap: 15em;
}

.footerLogo {
    text-decoration: none;
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    padding: 1em 0 0 0;
}

.locationParagraph {
    color: #fff;
    font-size: 20px;
    margin: 0;
}

.footer-menu p {
    color: #fff;
    font-size: 20px;
}

.footer-menu li a {
    text-decoration: none;
    color: #fff;
}

.footerList {
    display: flex;
    align-items: center;
    gap: .3em;
}

.paddingList {
    padding: .5em 0;
}

.copyright {
    color: #fff;
    padding: 3em 0 .3em 0;
}




@media only screen and (min-width: 1100px) {
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }

    .navWrapper {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .footerContainer {
        max-width: 1200px;
        margin: 0 auto;
    }

}